/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap");
/* Var */
/* Global */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  position: relative;
  overflow-x: hidden;
}

/* Class */
.fixed {
  text-align: center;
  padding: 10px 0;
  background: #e88383;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 1000;
  -webkit-box-shadow: #e7e7e7;
          box-shadow: #e7e7e7;
  width: 100%;
}

.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px solid white;
  padding: 10px 30px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  -webkit-transition: color 0.3 linear;
  transition: color 0.3 linear;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #f3f3f3;
  color: #333333;
}

/*Section 1. Header  */
/* Intro */
.intro {
  width: 100%;
  height: 100vh;
  min-height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.intro .intro-main {
  width: 100%;
  max-width: 802px;
  margin: 0 auto;
}

.intro .intro-main .intro-main__subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 12px;
}

.intro .intro-main .intro-main__title {
  color: #fff;
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.intro .intro-main .intro-main__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 65px auto 50px;
}

.intro .slider-intro {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.intro .slider-intro .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .slider-intro .slider__item.active {
  opacity: 1;
}

.intro .slider-intro .slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  background-color: #f38181;
}

.intro .slider-intro .slider__item {
  width: 23%;
  margin-top: 30px;
  padding: 25px 0 20px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.7;
  border-top: 3px solid #fff;
  position: relative;
}

.intro .slider-intro .slider__item .slider__item-font {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 28px;
}

.header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.header .header-menu {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header .header-menu .header-menu__link {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 12px;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header .header-menu .header-menu__link:hover {
  color: #fce38a;
  cursor: pointer;
}

.header .header-menu .header-menu__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fce38a;
  margin-top: 8px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.header .header-menu .header-menu__link:hover:after {
  opacity: 2;
}

.header .header-menu .header-menu__link.actives {
  color: #fce38a;
}

.header .header-menu .header-menu__link.actives:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fce38a;
  margin-top: 8px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.header .header-menu .header-menu__link.actives:after {
  display: block;
  opacity: 2;
}

.header .header-hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 24px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background: #e78182;
}

.header .header-hamburger:focus {
  outline: none;
}

.header .header-hamburger .header-hamburger__item {
  display: block;
  position: absolute;
  top: 30px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: #fff;
}

.header .header-hamburger .header-hamburger__item:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background: #fff;
  bottom: -15px;
}

.header .header-hamburger .header-hamburger__item:before {
  content: "";
  top: -15px;
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background: #fff;
}

.header .header-hamburger-line.header-hamburger__item {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.header .header-hamburger-line.header-hamburger__item:before .header-hamburger-line.header-hamburger__itet:after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.header .header-hamburger-line.header-hamburger__item:before {
  -webkit-transition-property: top, transfrom;
  transition-property: top, transfrom;
}

.header .header-hamburger-line.header-hamburger__item:before {
  -webkit-transition-property: bottom, transfrom;
  transition-property: bottom, transfrom;
}

.header .header-hamburger-line.is-active {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.header .header-hamburger-line.is-active span {
  background: none;
}

.header .header-hamburger-line.is-active span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header-hamburger-line.is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header-hamburger-line.is-active.header-hamburger__item:before {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.header .header-hamburger-line.is-active.header-hamburger__item:after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

/* Section 2. About Us*/
/* Part 1. Header */
.section {
  padding: 91px 0 110px 0;
}

.section .section-header {
  text-align: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
}

.section .section-header .section-header__suptitle {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

.section .section-header .section-header__title {
  padding-top: 10px;
  color: #333333;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section .section-header .section-header__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto;
}

.section .section-header .section-header__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 50px;
}

/* Part 2 */
.card {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-item {
  width: 33%;
  padding: 0 15px;
}

.card .card-item .card-wrapper {
  background-color: #95e1d3;
  position: relative;
}

.card .card-item .card-wrapper .card-item-information {
  width: 100%;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.card .card-item:hover .card-item-information {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.card .card-img {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.card .card-img img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: opacity 0.2 linear;
  transition: opacity 0.2 linear;
}

.card .card-item:hover .card-img img {
  opacity: 0.1;
}

.card .card-item:hover .card-img {
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0);
}

.card .card-info {
  text-align: center;
  margin-top: 31px;
}

.card .card-info .card-info__name {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card .card-info .card-info__profession {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  padding-top: 5px;
}

/*Section 3.  Number */
.numbers {
  background-color: #95e1d3;
}

.numbers .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers .number .number-item {
  padding: 89px 25px 129px 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  border-right: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.numbers .number .number-item:hover {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #fce38a;
}

.numbers .number .number-item .number-item__count {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
}

.numbers .number .number-item .number-item__text {
  font-size: 0.875rem;
  font-weight: 400;
}

.numbers .number-item:first-child {
  border-left: 1px solid #b5eae0;
}

/* Section 4 Amazing services */
.band {
  border-bottom: 1px solid #e5e5e5;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services-item {
  width: 33%;
  position: relative;
  padding-bottom: 51px;
  margin-bottom: 47px;
}

.services .services-item .services-item__title {
  padding-left: 90px;
  color: #333333;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.services .services-item .services-item__text {
  padding-left: 90px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
}

.services .services-item .services-item__icon {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}

/* Section 5. For all devices */
.alldevices {
  background: url(../img/Devices/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 0;
}

.alldevices .devices {
  width: 100%;
  max-width: 674px;
  position: relative;
  margin: 0 auto;
}

.alldevices .devices .devices__ipad {
  display: block;
  max-width: 100%;
  height: auto;
}

.alldevices .devices .devices__iphone {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 362px;
  top: 197px;
}

/* Section 6. We do */
.processwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.processwork .processwork-item {
  width: 50%;
  padding: 0 15px;
}

.processwork .processwork-item .processwork-item__img {
  display: block;
  width: 100%;
  height: auto;
}

.accordion .accordion-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.accordion .accordion-item .accordion-header {
  padding: 23px 20px 15px 55px;
  position: relative;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.accordion .accordion-item .accordion-header:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.accordion .accordion-item .accordion-header .accordion-header__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion .accordion-item .accordion-header .accordion-header__title {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.accordion .accordion-item .accordion-item__content {
  display: none;
  padding: 20px 25px 28px 20px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
}

.accordion .accordion-header.active + .accordion-item__content {
  display: block;
}

.accordion .accordion-header.active:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion .accordion-header.active:after .accordion-item_content {
  background-color: #fff;
}

/* Section 7. quote*/
.slider {
  display: none;
}

.slider2 {
  display: none;
}

/* Slider */
.fon {
  background: #f8f8f8;
}

.quotes {
  padding: 0 110px 0 112px;
  position: relative;
}

.quotes .buttons-control {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  color: transparent;
}

.quotes .buttons-control:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.quotes .previous {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}

.quotes .next {
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quotes .quotes-item {
  display: none;
  padding-left: 245px;
  position: relative;
}

.quotes .quotes-item .quotes-item__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.quotes .quotes-item .quotes-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  font-style: italic;
  margin-bottom: 15px;
}

.quotes .quotes-item .quotes-item__author {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

.quotes .quotes-item .quotes-item__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  background-color: #d3d0d0;
  margin-right: 10px;
}

/* Section 9. Our team */
.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon .social-icon__item {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  border-right: 1px solid;
  text-decoration: none;
  color: #f28282;
  font-size: 25px;
  padding: 15px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-icon .social-icon__item:hover {
  color: #fff;
  background-color: #f38181;
}

.social-icon .social-icon__item:last-child {
  border-right: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*Section 10. Logos */
.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.logos .logos-item {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0 15px;
}

/* Section 11. Portfolio */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 80vh;
}

.modal-content {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  cursor: pointer;
}

.portfolio .portfolio-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.portfolio .portfolio-col .portfolio-item {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.portfolio .portfolio-col .portfolio-item .portfolio-item__img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.portfolio .portfolio-col .portfolio-item .portfolio-info {
  max-width: 170px;
  margin-left: -85px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: none;
}

.portfolio .portfolio-col .portfolio-item .portfolio-info .portfolio-info__title {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
}

.portfolio .portfolio-col .portfolio-item .portfolio-info .portfolio-info__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
  padding-top: 10px;
}

.portfolio .portfolio-item:hover .portfolio-item__img {
  opacity: 0.1;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/* Section 12. Clients  */
.client {
  background: url("../img/Clients/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.clients .clients-item {
  width: 50%;
  padding: 0 46px 0 180px;
  position: relative;
  margin-bottom: 60px;
}

.clients .clients-item .clients-item__img {
  position: absolute;
  top: 0;
  left: 41px;
  z-index: 1;
}

.clients .clients-item .clients-item__name {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.clients .clients-item .clients-item__position {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
}

.clients .clients-item .clients-item__position:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 10px 0 15px 0;
}

.clients .clients-item .clients-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
}

/* Section 13. Blogs */
.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .blogs-item {
  width: 31%;
}

.blogs .blogs-item .blogs-header {
  position: relative;
}

.blogs .blogs-item .blogs-header .blogs-header__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.blogs .blogs-item .blogs-header .blogs-date {
  padding: 5px 10px;
  background-color: #95e1d3;
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;
  color: #fff;
  text-align: center;
}

.blogs .blogs-item .blogs-header .blogs-date .blogs-date__number {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.blogs .blogs-item .blogs-header .blogs-date .blogs-date__month {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  font-style: italic;
}

.blogs .blogs-item .blogs-content .blogs-content__title a {
  display: block;
  padding-top: 15px;
  color: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.blogs .blogs-item .blogs-content .blogs-content__title a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.blogs .blogs-item .blogs-content .blogs-content__text {
  padding-top: 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 24px;
}

.blogs .blogs-item .blogs-footer {
  margin-top: 14px;
  border-top: 1px solid #e5e5e5;
  padding-top: 13px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}

.blogs .blogs-item .blogs-footer .blogs-footer__watching {
  display: inline-block;
  padding-right: 15px;
}

.blogs .blogs-item .blogs-footer .blogs-footer__icon1 {
  top: 2px;
  padding-right: 5px;
}

.blogs .blogs-item .blogs-footer .blogs-footer__icon2 {
  position: relative;
  top: 2px;
  padding-right: 5px;
}

/* Section 14. Map */
.map {
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.map .map-block {
  text-align: center;
}

.map .map-block .map-block__header {
  padding-top: 12px;
  color: #f38181;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.map .map-block .map-block__header:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 21px auto 0;
}

.map .map-block .map-block__header a {
  color: inherit;
}

.map .map-block .map-block__header a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/*  Section 15. Footer */
.footer {
  background-color: #f8f8f8;
  padding-top: 70px;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 69px;
  margin: 0 -15px;
}

.footer .footer-wrapper .footer-item {
  width: 40%;
  padding: 0 15px;
}

.footer .footer-wrapper .footer-item .footer-item__logo {
  color: #cccccc;
  font-size: 2.875rem;
  font-weight: 700;
}

.footer .footer-wrapper .footer-item .footer-item__text {
  padding: 20px 0 15px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 24px;
}

.footer .footer-wrapper .footer-item .footer-contact .footer-contact__header {
  padding-bottom: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.footer .footer-wrapper .footer-item .footer-contact .footer-contact__header strong {
  font-size: 18px;
  font-weight: 700;
}

.footer .footer-wrapper .footer-item .footer-social {
  padding-top: 16px;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}

.footer .footer-wrapper .footer-item .footer-social .footer-social__link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
}

.footer .footer-wrapper .footer-item .footer-social .footer-social__link:first-of-type {
  padding-left: 15px;
}

.footer .footer-wrapper .footer-item .footer-social .footer-social__link:last-of-type {
  padding-left: 15px;
}

.footer .footer-wrapper .footer-item .footer-form {
  width: 100%;
  max-width: 380px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__input {
  width: 60%;
  height: 40px;
  padding: 12px;
  background: #fff;
  border: 1px solid #e7e7e7;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__input .footer-form__input::-webkit-input-placeholder {
  color: #cccccc;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__input .footer-form__input:-ms-input-placeholder {
  color: #cccccc;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__input .footer-form__input::-ms-input-placeholder {
  color: #cccccc;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__input .footer-form__input::placeholder {
  color: #cccccc;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__btn {
  width: 40%;
  height: 40px;
  padding: 12px 30px;
  background-color: #95e1d3;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.footer .footer-wrapper .footer-item .footer-form .footer-form__btn:hover {
  background-color: #999999;
}

.footer .footer-wrapper .footer-item2 {
  width: 29%;
  padding: 0 15px;
}

.footer .footer-wrapper .footer-item2 .footer-item2__title {
  color: #333333;
  font-size: #333333;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 15px;
}

.footer .footer-wrapper .footer-item2 .footer-blogitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.footer .footer-wrapper .footer-item2 .footer-content {
  padding-left: 20px;
}

.footer .footer-wrapper .footer-item2 .footer-content .footer-content__title {
  display: block;
  color: #333333;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.footer .footer-wrapper .footer-item2 .footer-content .footer-content__title:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer .footer-wrapper .footer-item2 .footer-content .footer-content__date {
  padding-top: 2px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}

.footer .footer-wrapper .footer-item3 {
  padding: 0 15px;
  width: 22%;
}

.footer .footer-wrapper .footer-item3 .footer-item3__title {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 15px;
}

.footer .footer-wrapper .footer-item3 .footer-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrapper .footer-item3 .footer-instagram .footer-instagram__href {
  width: 33%;
  border: 1px solid #fff;
}

.footer .footer-wrapper .footer-item3 .footer-instagram .footer-instagram__href .footer-instagram__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer .footer-copyright {
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footer .footer-copyright .footer-copyright__color {
  color: #f38181;
}

/* Media screen */
@media (max-width: 1230px) {
  /* Heder */
  .intro .intro-main .intro-main__subtitle {
    font-size: 5rem;
  }
  .intro .intro-main .intro-main__title {
    font-size: 7rem;
  }
  /*Quotes  */
  .quotes .quotes-item .quotes-item__text {
    font-size: 1rem;
  }
}

@media (max-width: 990px) {
  /* Header */
  .intro .intro-main .intro-main__subtitle {
    font-size: 3.5rem;
  }
  .intro .intro-main .intro-main__title {
    font-size: 5.375rem;
  }
  /* Intro Slider */
  .header-content .header-slider .slider__item {
    margin-top: 170px;
  }
  /* Amazing services */
  .services .services-item {
    width: 50%;
  }
  .band {
    border-bottom: none;
  }
  /*Quotes  */
  .quotes {
    padding: 0 65px;
  }
  .quotes .quotes-item .quotes-item__img {
    margin: 0 auto 18px;
    width: 120px;
    height: 120px;
  }
  .quotes .quotes-item {
    padding-left: 170px;
  }
  /* Logos */
  .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logos .logos-item {
    width: 16%;
    margin: 10px auto;
  }
  /* Clients */
  .clients {
    max-width: 650px;
    margin: 0 auto;
  }
  .clients .clients-item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 0;
  }
  .clients .clients-item:last-child {
    margin-bottom: 0;
  }
  /* Footer */
  .footer .footer-wrapper .footer-item {
    width: 100%;
  }
  .footer .footer-wrapper .footer-item2 {
    width: 50%;
  }
  .footer .footer-wrapper .footer-item3 {
    width: 50%;
  }
  /* Instagram */
  .footer .footer-wrapper .footer-item3 .footer-instagram {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .footer-wrapper .footer-item3 .footer-instagram .footer-instagram__href {
    width: auto;
    border-right: 1px solid #cccccc;
  }
}

@media (max-width: 770px) {
  .intro {
    min-height: 650px;
  }
  /* Menu */
  header .header-menu {
    display: none;
    min-height: 400px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #e88383;
  }
  header .header-menu.active {
    display: block;
  }
  header .header-menu .header-menu__link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 10px;
  }
  .header .header-hamburger {
    display: block;
  }
  /* Slider */
  .slider-info {
    display: none;
  }
  .slider__item.active:before {
    width: 50%;
  }
  /* Section */
  .section {
    padding: 45px 0 90px;
  }
  /* Cards */
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card .card-item {
    width: 100%;
    max-width: 410px;
    margin-bottom: 25px;
  }
  .card .card-item:last-child {
    margin-bottom: none;
  }
  /* Numbers */
  .number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .numbers .number .number-item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33%;
    border: none;
    padding: 50px 25px;
  }
  /* Amazing services */
  .services .services-item {
    width: 50%;
  }
  /* All devices */
  .alldevices {
    padding-bottom: 0;
  }
  .alldevices .devices .devices__iphone {
    left: 300px;
  }
  /*  We do */
  .processwork .processwork-item .processwork-item__img {
    display: none;
  }
  .processwork .processwork-item {
    width: 100%;
  }
  /*Quotes  */
  .quotes .quotes-item .quotes-item__img {
    position: static;
  }
  .quotes .quotes-item {
    padding-left: 0;
  }
  .quotes .quotes-item .quotes-item__author {
    font-size: 1rem;
  }
  /* Logos */
  .logos .logos-item {
    width: 15%;
    margin: 20px auto;
  }
  /* Works  */
  .portfolio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio .portfolio-col {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
  /* Blogs */
  .blogs {
    max-width: 380px;
    margin: 0 auto;
  }
  .blogs .blogs-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .blogs .blogs-item:last-child {
    margin-bottom: 30px;
  }
  /* Footer */
  .footer .footer-wrapper .footer-item {
    width: 100%;
  }
  .footer .footer-wrapper .footer-item2 {
    width: 100%;
  }
  .footer .footer-wrapper .footer-item3 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  /* Header */
  .intro .intro-main .intro-main__subtitle {
    font-size: 2.5rem;
  }
  .intro .intro-main .intro-main__title {
    font-size: 3rem;
  }
  .slider-info {
    display: block;
    font-size: 0.4rem;
  }
  /* Header Slider */
  .intro .intro-slider .slider__item {
    margin-top: 190px;
  }
  /* Section */
  .section-header__suptitle {
    font-size: 20px;
  }
  .section-header__title {
    font-size: 25px;
  }
  .section-header__title:after {
    margin: 40px auto;
  }
  .section-header__text {
    padding-bottom: 25px;
  }
  /* Number */
  .numbers .number .number-item {
    width: 100%;
    border-bottom: 1px solid white;
  }
  /* Services */
  .services .services-item {
    width: 100%;
    margin: 0 auto;
  }
  /* Devices */
  .alldevices .devices {
    max-width: 320px;
  }
  .alldevices .devices .devices__iphone {
    width: 110px;
    left: 210px;
    top: 230px;
    right: -60px;
  }
  /* Quotes */
  .quotes {
    line-height: 1;
    padding: 0 5px;
    text-align: center;
    font-size: 0.5rem;
  }
  .quotes .previous {
    top: 60%;
  }
  .quotes .next {
    top: 60%;
  }
  /* Logos */
  .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logos .logos-item {
    width: 30%;
    margin: 20px auto;
  }
  /* Works */
  .portfolio .portfolio-col {
    width: 100%;
  }
  .portfolio .portfolio-col .portfolio-item .portfolio-item__img {
    width: 100%;
  }
  /* Clients */
  .clients .clients-item .clients-item__img {
    position: static;
  }
  .clients .clients-item {
    padding-left: 0;
    text-align: center;
  }
  .clients .clients-item .clients-item__position:after {
    margin: 10px auto;
  }
  /* Footer */
  .footer .footer-wrapper .footer-item .footer-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
  }
  .footer .footer-wrapper .footer-item .footer-form .footer-form__input {
    width: 100%;
    border-right: 1ps solid #e7e7e7;
    margin-bottom: 10px;
  }
  .footer .footer-wrapper .footer-item .footer-form .footer-form__btn {
    width: 100%;
  }
  /*  Footer-blogs */
  .footer-itemblog__img {
    width: 80px;
    height: 50px;
    font-size: 0.5rem;
  }
  .footer .footer-wrapper .footer-item2 .footer-content .footer-content__title {
    font-size: 0.5rem;
  }
  .footer .footer-wrapper .footer-item2 .footer-content .footer-content__date {
    font-size: 0.5rem;
  }
}

/* Media query 320px */
@media (max-width: 320px) {
  /* Logos */
  .logos .logos-item {
    width: 50%;
    margin: 0 auto 20px auto;
  }
}
/*# sourceMappingURL=styles.css.map */