/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap");

/* Var */
$accent: #fce38a;
$page-color: #f8f8f8;

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  position: relative;
  overflow-x: hidden;
}

/* Class */
.fixed {
  text-align: center;
  padding: 10px 0;
  background: rgb(232, 131, 131);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  z-index: 1000;
  box-shadow: #e7e7e7;
  width: 100%;
}
.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px 30px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  transition: color 0.3 linear;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: #f3f3f3;
    color: rgb(51, 51, 51);
  }
}

/*Section 1. Header  */

/* Intro */
.intro {
  width: 100%;
  height: 100vh;
  min-height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  .intro-main {
    width: 100%;
    max-width: 802px;
    margin: 0 auto;
    .intro-main__subtitle {
      font-family: "Kaushan Script", cursive;
      font-size: 4.5rem;
      font-weight: 400;
      color: #fff;
      margin-bottom: 12px;
    }
    .intro-main__title {
      color: #fff;
      font-size: 9.375rem;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: #fff;
        margin: 65px auto 50px;
      }
    }
  }
  .slider-intro {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    .slider-content {
      display: flex;
      justify-content: space-between;
    }
    .slider__item.active {
      opacity: 1;
      &:before {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        position: absolute;
        top: -3px;
        left: 0;
        background-color: rgb(243, 129, 129);
      }
    }
    .slider__item {
      width: 23%;
      margin-top: 30px;
      padding: 25px 0 20px;
      color: #fff;
      font-size: 1.125rem;
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.7;
      border-top: 3px solid #fff;
      position: relative;
      .slider__item-font {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 28px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 700;
  }
  .header-menu {
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    .header-menu__link {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-left: 50px;
      margin-top: 12px;
      color: #fff;
      transition: color 0.3s linear;
      &:hover {
        color: $accent;
        cursor: pointer;
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $accent;
        margin-top: 8px;
        transition: opacity 0.3s linear;
      }
      &:hover:after {
        opacity: 2;
      }
    }

    .header-menu__link.actives {
      color: $accent;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $accent;
        margin-top: 8px;
        transition: opacity 0.3s linear;
      }
      &:after {
        display: block;
        opacity: 2;
      }
    }
  }
  .header-hamburger {
    display: none;
    position: absolute;
    top: 20px;
    right: 24px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background: rgb(231, 129, 130);
    &:focus {
      outline: none;
    }
    .header-hamburger__item {
      display: block;
      position: absolute;
      top: 30px;
      left: 18px;
      right: 18px;
      height: 6px;
      background: #fff;
      &:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 6px;
        background: #fff;
        bottom: -15px;
      }
      &:before {
        content: "";
        top: -15px;
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 6px;
        background: #fff;
      }
    }
  }
  .header-hamburger-line.header-hamburger__item {
    transition: background 0s 0.3s;
  }
  .header-hamburger-line.header-hamburger__item:before .header-hamburger-line.header-hamburger__itet:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .header-hamburger-line.header-hamburger__item:before {
    transition-property: top, transfrom;
  }
  .header-hamburger-line.header-hamburger__item:before {
    transition-property: bottom, transfrom;
  }
  .header-hamburger-line.is-active {
    background: linear-gradient(to bottom, #f38181, $accent);
  }
  .header-hamburger-line.is-active span {
    background: none;
  }
  .header-hamburger-line.is-active span:before {
    top: 0;
    transform: rotate(-45deg);
  }
  .header-hamburger-line.is-active span:after {
    bottom: 0;
    transform: rotate(45deg);
  }
  .header-hamburger-line.is-active.header-hamburger__item:before {
    transition-delay: 0s, 0.3s;
  }
  .header-hamburger-line.is-active.header-hamburger__item:after {
    transition-delay: 0s, 0.3s;
  }
}

/* Section 2. About Us*/

/* Part 1. Header */
.section {
  padding: 91px 0 110px 0;
  .section-header {
    text-align: center;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    .section-header__suptitle {
      color: rgb(51, 51, 51);
      font-family: "Kaushan Script", cursive;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .section-header__title {
      padding-top: 10px;
      color: rgb(51, 51, 51);
      font-size: 1.875rem;
      font-weight: 700;
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: rgb(243, 129, 129);
        margin: 40px auto;
      }
    }
    .section-header__text {
      color: rgb(153, 153, 153);
      font-family: "Roboto", sans-serif;
      font-size: 0.938rem;
      font-weight: 400;
      line-height: 1.4;
      padding-bottom: 50px;
    }
  }
}
/* Part 2 */

.card {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card-item {
    width: 33%;
    padding: 0 15px;
    .card-wrapper {
      background-color: #95e1d3;
      position: relative;
      .card-item-information {
        width: 100%;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate3d(0, -50%, 0);
        opacity: 0;
        transition: opacity 0.2s linear;
      }
    }
  }
  .card-item:hover .card-item-information {
    opacity: 1;
    transition: transform 0.2s linear;
  }
  .card-img {
    background: linear-gradient(to bottom, #f38181, $accent);
    transition: transform 0.2s linear;
  }
  .card-img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.2 linear;
  }
  .card-item:hover .card-img img {
    opacity: 0.1;
  }
  .card-item:hover .card-img {
    transform: translate3d(-10px, -10px, 0);
  }
  .card-info {
    text-align: center;
    margin-top: 31px;
    .card-info__name {
      color: rgb(51, 51, 51);
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    .card-info__profession {
      color: rgb(153, 153, 153);
      font-family: "Roboto", sans-serif;
      font-size: 0.9375rem;
      font-weight: 300;
      font-style: italic;
      line-height: 24px;
      padding-top: 5px;
    }
  }
}

/*Section 3.  Number */

.numbers {
  background-color: #95e1d3;
  .number {
    display: flex;
    flex-wrap: wrap;
    .number-item {
      padding: 89px 25px 129px 25px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      border-right: 1px solid #b5eae0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        transition: color 0.3s linear;
        color: $accent;
      }
      .number-item__count {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;
      }
      .number-item__text {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
  .number-item:first-child {
    border-left: 1px solid #b5eae0;
  }
}

/* Section 4 Amazing services */

.band {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.services {
  display: flex;
  flex-wrap: wrap;

  .services-item {
    width: 33%;
    position: relative;
    padding-bottom: 51px;
    margin-bottom: 47px;
    .services-item__title {
      padding-left: 90px;
      color: rgb(51, 51, 51);
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .services-item__text {
      padding-left: 90px;
      color: rgb(153, 153, 153);
      font-family: "Roboto", sans-serif;
      font-size: 0.938rem;
      font-weight: 400;
      line-height: 24px;
    }
    .services-item__icon {
      position: absolute;
      top: 0;
      left: 30px;
      z-index: 1;
    }
  }
}

/* Section 5. For all devices */

.alldevices {
  background: url(../img/Devices/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 0;
  .devices {
    width: 100%;
    max-width: 674px;
    position: relative;
    margin: 0 auto;
    .devices__ipad {
      display: block;
      max-width: 100%;
      height: auto;
    }
    .devices__iphone {
      display: block;
      max-width: 100%;
      height: auto;
      position: absolute;
      left: 362px;
      top: 197px;
    }
  }
}

/* Section 6. We do */
.processwork {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  .processwork-item {
    width: 50%;
    padding: 0 15px;
    .processwork-item__img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.accordion {
  .accordion-item {
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 10px;
    transition: background-color 0.2s linear;

    .accordion-header {
      padding: 23px 20px 15px 55px;
      position: relative;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        transform: rotate(135deg);
      }
      .accordion-header__icon {
        position: absolute;
        top: 50%;
        left: 15px;
        z-index: 1;
        transform: translateY(-50%);
      }
      .accordion-header__title {
        color: rgb(51, 51, 51);
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .accordion-item__content {
      display: none;
      padding: 20px 25px 28px 20px;
      color: rgb(204, 204, 204);
      font-family: "Roboto", sans-serif;
      font-size: 0.938rem;
      font-weight: 400;
      font-style: italic;
      line-height: 24px;
    }
  }
  .accordion-header.active + .accordion-item__content {
    display: block;
  }
  .accordion-header.active:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
    .accordion-item_content {
      background-color: #fff;
    }
  }
}

/* Section 7. quote*/
.slider {
  display: none;
}
.slider2 {
  display: none;
}
/* Slider */
.fon {
  background: $page-color;
}
.quotes {
  padding: 0 110px 0 112px;
  position: relative;
  .buttons-control {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 0;
    color: transparent;
    &:after {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      border-top: 2px solid rgb(204, 204, 204);
      border-left: 2px solid rgb(204, 204, 204);
      transform: rotate(45deg);
    }
  }
  .previous {
    transform: rotate(-90deg);
    user-select: none;

    left: 0;
  }
  .next {
    right: 0;
    transform: rotate(90deg);
    user-select: none;
  }

  .quotes-item {
    display: none;
    padding-left: 245px;
    position: relative;
    .quotes-item__img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .quotes-item__text {
      color: rgb(153, 153, 153);
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 36px;
      font-style: italic;
      margin-bottom: 15px;
    }
    .quotes-item__author {
      color: rgb(51, 51, 51);
      font-family: "Kaushan Script", cursive;
      font-size: 1.5rem;
      font-weight: 400;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 3px;
        background-color: rgb(211, 208, 208);
        margin-right: 10px;
      }
    }
  }
}

/* Section 9. Our team */

.social-icon {
  display: flex;
  justify-content: center;
  .social-icon__item {
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    border-right: 1px solid;
    text-decoration: none;
    color: rgb(95%, 51%, 51%);
    font-size: 25px;
    padding: 15px;
    line-height: 1;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: #fff;
      background-color: #f38181;
    }
  }
  .social-icon__item:last-child {
    border-right: none;
    transition: 0.2s;
  }
}

/*Section 10. Logos */
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;

  .logos-item {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0 15px;
  }
}

/* Section 11. Portfolio */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 80vh;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.portfolio {
  display: flex;
  transition: opacity 0.1s linear;
  cursor: pointer;
  .portfolio-col {
    flex: 1 1 0;
    .portfolio-item {
      position: relative;
      background: linear-gradient(to bottom, rgb(243, 129, 129), rgb(252, 227, 138));
      .portfolio-item__img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: opacity 0.2s linear;
      }
      .portfolio-info {
        max-width: 170px;
        margin-left: -85px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        text-align: center;
        opacity: 0;
        transform: translate3d(0, -50%, 0);
        transition: opacity 0.2s linear;
        cursor: none;
        .portfolio-info__title {
          color: #fff;
          font-size: 0.875rem;
          font-weight: 400;
          text-transform: uppercase;
          padding-top: 15px;
        }
        .portfolio-info__text {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-size: 0.9375rem;
          font-weight: 300;
          line-height: 24px;
          font-style: italic;
          padding-top: 10px;
        }
      }
    }
  }

  .portfolio-item:hover {
    .portfolio-item__img {
      opacity: 0.1;
    }
  }
  .portfolio-item:hover {
    .portfolio-info {
      opacity: 1;
    }
  }
}
/* Section 12. Clients  */

.client {
  background: url("../img/Clients/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  .clients-item {
    width: 50%;
    padding: 0 46px 0 180px;
    position: relative;
    margin-bottom: 60px;
    .clients-item__img {
      position: absolute;
      top: 0;
      left: 41px;
      z-index: 1;
    }
    .clients-item__name {
      color: rgb(51, 51, 51);
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 6px;
    }
    .clients-item__position {
      color: rgb(51, 51, 51);
      font-family: "Roboto", sans-serif;
      font-size: 0.938rem;
      font-weight: 300;
      line-height: 24px;
      font-style: italic;
      &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: rgb(243, 129, 129);
        margin: 10px 0 15px 0;
      }
    }
    .clients-item__text {
      color: rgb(153, 153, 153);
      font-family: "Roboto", sans-serif;
      font-size: 0.938rem;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

/* Section 13. Blogs */

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .blogs-item {
    width: 31%;
    .blogs-header {
      position: relative;
      .blogs-header__img {
        display: block;
        max-width: 100%;
        height: auto;
      }
      .blogs-date {
        padding: 5px 10px;
        background-color: #95e1d3;
        position: absolute;
        bottom: 10px;
        left: -10px;
        z-index: 1;
        color: #fff;
        text-align: center;
        .blogs-date__number {
          font-size: 1.875rem;
          font-weight: 700;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-style: italic;
        }
        .blogs-date__month {
          font-family: "Roboto", sans-serif;
          font-size: 0.9375rem;
          font-weight: 400;
          line-height: 1;
          font-style: italic;
        }
      }
    }
    .blogs-content {
      .blogs-content__title a {
        display: block;
        padding-top: 15px;
        color: inherit;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          text-decoration-line: underline;
        }
      }
      .blogs-content__text {
        padding-top: 15px;
        color: rgb(153, 153, 153);
        font-family: "Roboto", sans-serif;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .blogs-footer {
      margin-top: 14px;
      border-top: 1px solid #e5e5e5;
      padding-top: 13px;
      color: rgb(153, 153, 153);
      font-family: "Roboto", sans-serif;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 24px;
      font-style: italic;
      .blogs-footer__watching {
        display: inline-block;
        padding-right: 15px;
      }
      .blogs-footer__icon1 {
        top: 2px;
        padding-right: 5px;
      }
      .blogs-footer__icon2 {
        position: relative;
        top: 2px;
        padding-right: 5px;
      }
    }
  }
}

/* Section 14. Map */
.map {
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .map-block {
    text-align: center;
    .map-block__header {
      padding-top: 12px;
      color: rgb(243, 129, 129);
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: rgb(243, 129, 129);
        margin: 21px auto 0;
      }
    }
    .map-block__header a {
      color: inherit;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}

/*  Section 15. Footer */
.footer {
  background-color: rgba(248, 248, 248, 1);
  padding-top: 70px;
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 69px;
    margin: 0 -15px;
    .footer-item {
      width: 40%;
      padding: 0 15px;
      .footer-item__logo {
        color: rgb(204, 204, 204);
        font-size: 2.875rem;
        font-weight: 700;
      }
      .footer-item__text {
        padding: 20px 0 15px;
        color: rgb(153, 153, 153);
        font-family: "Roboto", sans-serif;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 24px;
      }
      .footer-contact {
        .footer-contact__header {
          padding-bottom: 16px;
          font-size: 0.875rem;
          font-weight: 400;
          border-bottom: 1px solid rgba(229, 229, 229, 1);
        }
        .footer-contact__header strong {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .footer-social {
        padding-top: 16px;
        color: #999;
        font-family: "Roboto", sans-serif;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 24px;
        font-style: italic;
        .footer-social__link {
          display: inline-block;
          vertical-align: middle;
          padding-left: 12px;
        }
        .footer-social__link:first-of-type {
          padding-left: 15px;
        }
        .footer-social__link:last-of-type {
          padding-left: 15px;
        }
      }
      .footer-form {
        width: 100%;
        max-width: 380px;
        margin-top: 35px;
        display: flex;
        .footer-form__input {
          width: 60%;
          height: 40px;
          padding: 12px;
          background: #fff;
          border: 1px solid rgba(231, 231, 231, 1);
          color: rgb(51, 51, 51);
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          line-height: 24px;
          font-style: italic;
          .footer-form__input::placeholder {
            color: rgb(204, 204, 204);
          }
        }
        .footer-form__btn {
          width: 40%;
          height: 40px;
          padding: 12px 30px;
          background-color: rgba(149, 225, 211, 1);
          border: 0;
          cursor: pointer;
          color: #fff;
          font-family: "Montserrat", sans-serif;
          font-size: 0.875;
          font-weight: 700;
          line-height: 1;
          text-transform: uppercase;
          transition: background 0.3s linear;
          &:hover {
            background-color: rgb(60%, 60%, 60%);
          }
        }
      }
    }
    .footer-item2 {
      width: 29%;
      padding: 0 15px;
      .footer-item2__title {
        color: rgb(51, 51, 51);
        font-size: rgb(51, 51, 51);
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 40px;
        padding-top: 15px;
      }
      .footer-blogitem {
        display: flex;
        align-items: center;
        margin-bottom: 31px;
      }
      .footer-content {
        padding-left: 20px;
        .footer-content__title {
          display: block;
          color: rgb(51, 51, 51);
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.5;
          text-transform: uppercase;
          &:hover {
            text-decoration-line: underline;
          }
        }
        .footer-content__date {
          padding-top: 2px;
          color: rgb(153, 153, 153);
          font-family: "Roboto", sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          font-style: italic;
        }
      }
    }
    .footer-item3 {
      padding: 0 15px;
      width: 22%;
      .footer-item3__title {
        color: rgb(51, 51, 51);
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 40px;
        padding-top: 15px;
      }
      .footer-instagram {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .footer-instagram__href {
          width: 33%;
          border: 1px solid #fff;

          .footer-instagram__img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .footer-copyright {
    padding: 24px 0;
    border-top: 1px solid rgba(229, 229, 229, 1);
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    .footer-copyright__color {
      color: rgb(243, 129, 129);
    }
  }
}

/* Media screen */

@media (max-width: 1230px) {
  /* Heder */
  .intro .intro-main .intro-main__subtitle {
    font-size: 5rem;
  }
  .intro .intro-main .intro-main__title {
    font-size: 7rem;
  }

  /*Quotes  */

  .quotes .quotes-item .quotes-item__text {
    font-size: 1rem;
  }
}
@media (max-width: 990px) {
  /* Header */
  .intro .intro-main .intro-main__subtitle {
    font-size: 3.5rem;
  }
  .intro .intro-main .intro-main__title {
    font-size: 5.375rem;
  }

  /* Intro Slider */

  .header-content .header-slider .slider__item {
    margin-top: 170px;
  }
  /* Amazing services */
  .services .services-item {
    width: 50%;
  }
  .band {
    border-bottom: none;
  }

  /*Quotes  */
  .quotes {
    padding: 0 65px;
  }
  .quotes .quotes-item .quotes-item__img {
    margin: 0 auto 18px;
    width: 120px;
    height: 120px;
  }
  .quotes .quotes-item {
    padding-left: 170px;
  }
  /* Logos */
  .logos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos .logos-item {
    width: 16%;
    margin: 10px auto;
  }
  /* Clients */
  .clients {
    max-width: 650px;
    margin: 0 auto;
  }
  .clients .clients-item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 0;
  }
  .clients .clients-item:last-child {
    margin-bottom: 0;
  }

  /* Footer */
  .footer .footer-wrapper .footer-item {
    width: 100%;
  }

  .footer .footer-wrapper .footer-item2 {
    width: 50%;
  }
  .footer .footer-wrapper .footer-item3 {
    width: 50%;
  }
  /* Instagram */
  .footer .footer-wrapper .footer-item3 .footer-instagram {
    justify-content: flex-start;
  }
  .footer .footer-wrapper .footer-item3 .footer-instagram .footer-instagram__href {
    width: auto;
    border-right: 1px solid rgb(204, 204, 204);
  }
}

@media (max-width: 770px) {
  .intro {
    min-height: 650px;
  }
  /* Menu */
  header .header-menu {
    display: none;
    min-height: 400px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(232, 131, 131);
  }
  header .header-menu.active {
    display: block;
  }

  header .header-menu .header-menu__link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 10px;
  }

  .header .header-hamburger {
    display: block;
  }

  /* Slider */
  .slider-info {
    display: none;
  }
  .slider__item.active:before {
    width: 50%;
  }
  /* Section */
  .section {
    padding: 45px 0 90px;
  }

  /* Cards */
  .card {
    justify-content: center;
  }
  .card .card-item {
    width: 100%;
    max-width: 410px;
    margin-bottom: 25px;
  }
  .card .card-item:last-child {
    margin-bottom: none;
  }
  /* Numbers */

  .number {
    justify-content: center;
  }
  .numbers .number .number-item {
    flex: none;
    width: 33%;
    border: none;
    padding: 50px 25px;
  }

  /* Amazing services */
  .services .services-item {
    width: 50%;
  }

  /* All devices */
  .alldevices {
    padding-bottom: 0;
  }
  .alldevices .devices .devices__iphone {
    left: 300px;
  }
  /*  We do */
  .processwork .processwork-item .processwork-item__img {
    display: none;
  }
  .processwork .processwork-item {
    width: 100%;
  }
  /*Quotes  */

  .quotes .quotes-item .quotes-item__img {
    position: static;
  }
  .quotes .quotes-item {
    padding-left: 0;
  }
  .quotes .quotes-item .quotes-item__author {
    font-size: 1rem;
  }

  /* Logos */
  .logos .logos-item {
    width: 15%;
    margin: 20px auto;
  }

  /* Works  */
  .portfolio {
    flex-wrap: wrap;
  }
  .portfolio .portfolio-col {
    flex: none;
    width: 50%;
  }
  /* Blogs */
  .blogs {
    max-width: 380px;
    margin: 0 auto;
  }
  .blogs .blogs-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .blogs .blogs-item:last-child {
    margin-bottom: 30px;
  }

  /* Footer */
  .footer .footer-wrapper .footer-item {
    width: 100%;
  }

  .footer .footer-wrapper .footer-item2 {
    width: 100%;
  }
  .footer .footer-wrapper .footer-item3 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  /* Header */
  .intro .intro-main .intro-main__subtitle {
    font-size: 2.5rem;
  }
  .intro .intro-main .intro-main__title {
    font-size: 3rem;
  }
  .slider-info {
    display: block;
    font-size: 0.4rem;
  }

  /* Header Slider */

  .intro .intro-slider .slider__item {
    margin-top: 190px;
  }

  /* Section */
  .section-header__suptitle {
    font-size: 20px;
  }
  .section-header__title {
    font-size: 25px;
  }
  .section-header__title:after {
    margin: 40px auto;
  }
  .section-header__text {
    padding-bottom: 25px;
  }

  /* Number */
  .numbers .number .number-item {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  /* Services */
  .services .services-item {
    width: 100%;
    margin: 0 auto;
  }
  /* Devices */

  .alldevices .devices {
    max-width: 320px;
  }

  .alldevices .devices .devices__iphone {
    width: 110px;
    left: 210px;
    top: 230px;
    right: -60px;
  }

  /* Quotes */

  .quotes {
    line-height: 1;
    padding: 0 5px;
    text-align: center;
    font-size: 0.5rem;
  }

  .quotes .previous {
    top: 60%;
  }
  .quotes .next {
    top: 60%;
  }
  /* Logos */

  .logos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos .logos-item {
    width: 30%;
    margin: 20px auto;
  }

  /* Works */
  .portfolio .portfolio-col {
    width: 100%;
  }

  .portfolio .portfolio-col .portfolio-item .portfolio-item__img {
    width: 100%;
  }

  /* Clients */
  .clients .clients-item .clients-item__img {
    position: static;
  }
  .clients .clients-item {
    padding-left: 0;
    text-align: center;
  }
  .clients .clients-item .clients-item__position:after {
    margin: 10px auto;
  }
  /* Footer */
  .footer .footer-wrapper .footer-item .footer-form {
    flex-wrap: wrap;
    max-width: none;
  }
  .footer .footer-wrapper .footer-item .footer-form .footer-form__input {
    width: 100%;
    border-right: 1ps solid #e7e7e7;
    margin-bottom: 10px;
  }

  .footer .footer-wrapper .footer-item .footer-form .footer-form__btn {
    width: 100%;
  }

  /*  Footer-blogs */
  .footer-itemblog__img {
    width: 80px;
    height: 50px;
    font-size: 0.5rem;
  }
  .footer .footer-wrapper .footer-item2 .footer-content .footer-content__title {
    font-size: 0.5rem;
  }
  .footer .footer-wrapper .footer-item2 .footer-content .footer-content__date {
    font-size: 0.5rem;
  }
}

/* Media query 320px */

@media (max-width: 320px) {
  /* Logos */
  .logos .logos-item {
    width: 50%;
    margin: 0 auto 20px auto;
  }
}
